@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 10%;
    --foreground: 42 56% 93%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 228 100% 57%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --stroke-default: 0 0% 100% / 0.14;

    /* screen gutter */
    --lg-screen-gutter: 3.75rem;
    --md-screen-gutter: 1.875rem;
    --sm-screen-gutter: 1.25rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply max-w-[100vw] overflow-x-hidden bg-background font-primary text-foreground;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* wip for shiny text */
  .shiny {
    --bg: #1e1e1e;
    color: #ccbc9a97;
    text-shadow:
      0px 16px 10px var(--bg),
      0 0 0 #fff,
      0px 16px 10px var(--bg);
    filter: drop-shadow(0 0 279px rgba(246, 241, 230, 27%));
  }
}

@layer utilities {
  .gradient-hover-border {
    @apply relative isolate;
    @apply before:opacity-0;

    @apply before:duration-150;
    @apply before:z-[-2];
    @apply before:bg-[linear-gradient(91.09deg,_#FFBD28_-1.76%,_#EEFF28_60.26%,_#FF4F28_117.77%)];
    @apply before:rounded-[inherit];
    @apply before:h-[calc(100%+2px)] before:w-[calc(100%+2px)] before:abs-center;
    @apply after:abs-center;
    @apply after:z-[-1] after:h-full after:w-full after:rounded-[inherit] after:bg-[inherit];

    /*    active state classNames */
    @apply hover:before:opacity-100;
    @apply focus:before:opacity-100;
    @apply has-[input:focus]:before:opacity-100;
    @apply data-[state=open]:before:opacity-100;

    /* shadow */
    @apply hover:shadow-[0px_0px_8px_0px_rgba(255,189,40,0.13),0px_0px_8px_1px_rgba(255,255,255,0.15)];
  }

  .swiper-pagination-bullet {
    @apply inline-block size-2 cursor-pointer rounded-full border border-white/10 hover:bg-white/50 [&.active]:bg-white;
  }
}
